manifest {
    name            = 'nf-PTM-compass'
    author          = """Jose Rodríguez"""
    homePage        = 'https://github.com/CNIC-Proteomics/nf-PTM-compass'
    description     = """PTM-compass workflow"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.10.1'
    version         = '0.0.1'
    doi             = ''
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all modules
----------------------------------------------------------------------------------------
*/

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load module config for default modules parameters.
includeConfig 'conf/modules.config'

// Specific parameters needed by the pipeline, must be loaded for correct execution
includeConfig 'conf/params.config'



/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Boilerplate options
    help                       = false
    version                    = false
    monochrome_logs            = false
    // Deprecated options
    // email                      = null
    // email_on_fail              = null
    // plaintext_email            = false
    // hook_url                   = null
    // validate_params            = true
    // publish_dir_mode           = 'copy'
    // show_hidden_params         = false
    // schema_ignore_params       = 'modules'
    // singularity_pull_docker_container = false

}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}
