manifest {
    name            = 'nf-PTM-compass'
    author          = """Jose Rodríguez"""
    homePage        = 'https://github.com/CNIC-Proteomics/nf-PTM-compass'
    description     = """nf-PTM-compass is a Nextflow pipeline that enhances the identification and quantification of Post-Translational Modifications (PTMs)."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.10.1'
    version         = '0.1.1'
    doi             = ''
}


/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all modules
----------------------------------------------------------------------------------------
*/

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load module config for default modules parameters.
includeConfig 'conf/modules.config'

