/*
========================================================================================
    Load module config for default modules parameters
========================================================================================
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Output folders
    outdir                     = null
    logdir                     = "${params.outdir}/logs"
    tracedir                   = "${params.outdir}/pipeline_info"

    // SiteList options
    sitelist_file                = "params/sitelist.txt"

}

// Export these environment variables
env {
    REFRAG_HOME            = "/opt/ptm-compass/refrag"
    PROTEIN_ASSIGNER_HOME  = "/opt/ptm-compass/shifts"
    SHIFTS_HOME            = "/opt/ptm-compass/shifts"
    SOLVER_HOME            = "/opt/ptm-compass/solver"
}

