/*
========================================================================================
    Load module config for default modules parameters
========================================================================================
----------------------------------------------------------------------------------------
*/

// Export these environment variables.
// Home paths of module programs
env {
    REFRAG_HOME            = "/opt/ptm-compass/refrag"
    PROTEIN_ASSIGNER_HOME  = "/opt/ptm-compass/shifts"
    SHIFTS_HOME            = "/opt/ptm-compass/shifts"
    SOLVER_HOME            = "/opt/ptm-compass/solver"
}

// Global default params, used in configs
params {

    // Output folders
    outdir                     = null
    logdir                     = "${params.outdir}/logs"
    tracedir                   = "${params.outdir}/pipeline_info"

    // SOLVER options
    sitelist_file              = "params/sitelist.txt"
    groupmaker_file            = "params/groupmaker.txt"

}

