/*
========================================================================================
    Specific parameters needed by the pipeline, must be loaded for correct execution.
========================================================================================
----------------------------------------------------------------------------------------
*/

params {

    // Fixed parameters
    fixed_comet_params_file       = "${projectDir}/params/fixed_params_comet.ini"
    fixed_msfragger_params_file   = "${projectDir}/params/fixed_params_msfragger.ini"

    // SOLVER options
    // sitelist_file              = "params/sitelist.txt"
    // groupmaker_file            = "params/groupmaker.txt"
}
